{
  "presets": [
    "react",
      ["env", {
        "modules": false,
        "targets": {
          "browsers": ["ie >= 9"]
        },
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
